/* Reset default styles */

/* Set a common font */
body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.course {
    width: calc(50% - 20px);
    margin: 30px;
    padding: 20px;
    border: 1px solid #e0dd0b;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .course {
        width: calc(33.33% - 20px);
    }
}

@media screen and (min-width: 1024px) {
    .courses {
        justify-content: space-between;
    }
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    
}
